@media only screen and (min-width:1396px) and (max-width:1439px){
  .section-food-images { height:700px; }
  .meal-image {
    width: 304px;
    height: 220px;
  }
  .steps-box {
    float: left;
    position: absolute;
    left: 10%;
  }
  .steps {
    position: relative;
    left: 35%;
    top: 8%;
    width: 51%;
  }
  .section-subscription-plans { padding-top: 40px; }
    .btn-registration {
    position: relative;
    left: 63%;
    bottom: 21px;
  }
  .form-box { left: 11.5%; }
  .footer-nav {
    position: relative;
    right: 14%;
  }
  .social-links {
    position: relative;
    left: 8%;
  }
}
@media only screen and (min-width:1371px) and (max-width:1395px){
  .section-food-images { height:700px; }
  .meal-image {
    width: 297px;
    height: 220px;
  }
  .steps-box {
    float: left;
    position: absolute;
    left: 10%;
  }
  .steps {
    position: relative;
    left: 35%;
    top: 8%;
    width: 51%;
  }
  .section-subscription-plans { padding-top: 40px; }
    .btn-registration {
    position: relative;
    left: 63%;
    bottom: 21px;
  }
  .form-box { left: 11.5%; }
  .footer-nav {
    position: relative;
    right: 14%;
  }
  .social-links {
    position: relative;
    left: 8%;
  }
}
@media only screen and (min-width:1341px) and (max-width:1370px){
  .section-food-images { height:700px; }
  .meal-image {
    width: 290px;
    height: 209px;
  }
  .steps-box {
    float: left;
    position: absolute;
    left: 10%;
  }
  .steps {
    position: relative;
    left: 35%;
    top: 8%;
    width: 51%;
  }
  .section-subscription-plans { padding-top: 40px; }
    .btn-registration {
    position: relative;
    left: 63%;
    bottom: 21px;
  }
  .form-box { left: 11.5%; }
  .footer-nav {
    position: relative;
    right: 14%;
  }
  .social-links {
    position: relative;
    left: 8%;
  }
}
@media only screen and (min-width:1311px) and (max-width:1340px){
  .section-food-images { height:700px; }
  .meal-image {
    width: 282px;
    height: 209px;
  }
  .steps-box {
    float: left;
    position: absolute;
    left: 10%;
  }
  .steps {
    position: relative;
    left: 35%;
    top: 8%;
    width: 51%;
  }
  .section-subscription-plans { padding-top: 40px; }
    .btn-registration {
    position: relative;
    left: 63%;
    bottom: 21px;
  }
  .form-box { left: 11.5%; }
  .footer-nav {
    position: relative;
    right: 14%;
  }
  .social-links {
    position: relative;
    left: 8%;
  }
}
@media only screen and (min-width:1291px) and (max-width:1310px){
  .section-food-images { height:700px; }
  .meal-image {
    width: 277px;
    height: 209px;
  }
  .steps-box {
    float: left;
    position: absolute;
    left: 10%;
  }
  .steps {
    position: relative;
    left: 35%;
    top: 8%;
    width: 51%;
  }
  .section-subscription-plans { padding-top: 40px; }
    .btn-registration {
    position: relative;
    left: 63%;
    bottom: 21px;
  }
  .form-box { left: 11.5%; }
  .footer-nav {
    position: relative;
    right: 14%;
  }
  .social-links {
    position: relative;
    left: 8%;
  }
}
@media only screen and (min-width:1271px) and (max-width:1290px){
  .section-food-images { height:700px; }
  .meal-image {
    width: 272px;
    height: 192px;
  }
  .steps-box {
    float: left;
    position: absolute;
    left: 10%;
  }
  .steps {
    position: relative;
    left: 35%;
    top: 8%;
    width: 51%;
  }
  .section-subscription-plans { padding-top: 40px; }
    .btn-registration {
    position: relative;
    left: 63%;
    bottom: 21px;
  }
  .form-box { left: 11.5%; }
  .footer-nav {
    position: relative;
    right: 14%;
  }
  .social-links {
    position: relative;
    left: 8%;
  }
}
@media only screen and (min-width:1251px) and (max-width:1270px){
  .section-food-images { height:700px; }
  .meal-image {
    width: 264px;
    height: 192px;
  }
  .steps-box {
    float: left;
    position: absolute;
    left: 10%;
  }
  .steps {
    position: relative;
    left: 35%;
    top: 8%;
    width: 51%;
  }
  .section-subscription-plans { padding-top: 40px; }
    .btn-registration {
    position: relative;
    left: 63%;
    bottom: 21px;
  }
  .form-box { left: 11.5%; }
  .footer-nav {
    position: relative;
    right: 14%;
  }
  .social-links {
    position: relative;
    left: 8%;
  }
}
@media only screen and (min-width:1211px) and (max-width:1250px){
  .section-food-images { height:700px; }
  .meal-image {
    width: 257px;
    height: 192px;
  }

  .steps-box {
    float: left;
    position: absolute;
    left: 10%;
  }
  .steps {
    position: relative;
    left: 35%;
    top: 8%;
    width: 51%;
  }
  .section-subscription-plans { padding-top: 40px; }
    .btn-registration {
    position: relative;
    left: 63%;
    bottom: 21px;
  }
  .form-box { left: 11.5%; }
  .footer-nav {
    position: relative;
    right: 14%;
  }
  .social-links {
    position: relative;
    left: 8%;
  }
}
@media only screen and (min-width:1171px) and (max-width:1210px){
  .section-food-images { height:700px; }
  .meal-image {
    width: 247px;
    height: 192px;
  }
  .steps-box {
    float: left;
    position: absolute;
    left: 10%;
  }
  .steps {
    position: relative;
    left: 35%;
    top: 8%;
    width: 51%;
  }
  .section-subscription-plans { padding-top: 40px; }
    .btn-registration {
    position: relative;
    left: 63%;
    bottom: 21px;
  }
  .form-box { left: 11.5%; }
  .footer-nav {
    position: relative;
    right: 14%;
  }
  .social-links {
    position: relative;
    left: 8%;
  }
}
@media only screen and (min-width:1141px) and (max-width:1170px){
  .section-food-images { height:700px; }

  .meal-image {
    width: 240px;
    height: 192px;
  }
  .steps-box {
    float: left;
    position: absolute;
    left: 10%;
  }
  .steps {
    position: relative;
    left: 35%;
    top: 8%;
    width: 51%;
  }
  .section-subscription-plans { padding-top: 40px; }
    .btn-registration {
    position: relative;
    left: 63%;
    bottom: 21px;
  }
  .form-box { left: 11.5%; }
  .footer-nav {
    position: relative;
    right: 14%;
  }
  .social-links {
    position: relative;
    left: 8%;
  }
}
@media only screen and (min-width:1111px) and (max-width:1140px){
  .section-food-images { height:700px; }

  .meal-image {
    width: 233px;
    height: 192px;
  }
  .steps-box {
    float: left;
    position: absolute;
    left: 10%;
  }
  .steps {
    position: relative;
    left: 35%;
    top: 8%;
    width: 51%;
  }
  .section-subscription-plans { padding-top: 40px; }
    .btn-registration {
    position: relative;
    left: 63%;
    bottom: 21px;
  }
  .form-box { left: 11.5%; }
  .footer-nav {
    position: relative;
    right: 14%;
  }
  .social-links {
    position: relative;
    left: 8%;
  }
}
@media only screen and (min-width:1091px) and (max-width:1110px){
  .section-food-images { height:700px; }

  .meal-image {
    width: 227px;
    height: 192px;
  }
  .steps-box {
    float: left;
    position: absolute;
    left: 10%;
  }
  .steps {
    position: relative;
    left: 35%;
    top: 8%;
    width: 51%;
  }
  .section-subscription-plans { padding-top: 40px; }
    .btn-registration {
    position: relative;
    left: 63%;
    bottom: 21px;
  }
  .form-box { left: 11.5%; }
  .footer-nav {
    position: relative;
    right: 14%;
  }
  .social-links {
    position: relative;
    left: 8%;
  }
}
@media only screen and (min-width:1081px) and (max-width:1090px){
  .section-food-images { height:700px; }
  .meal-image {
    width: 225px;
    height: 192px;
  }
  .steps-box {
    float: left;
    position: absolute;
    left: 10%;
  }
  .steps {
    position: relative;
    left: 35%;
    top: 8%;
    width: 51%;
  }
  .section-subscription-plans { padding-top: 40px; }
    .btn-registration {
    position: relative;
    left: 63%;
    bottom: 21px;
  }
  .form-box { left: 11.5%; }
  .footer-nav {
    position: relative;
    right: 14%;
  }
  .social-links {
    position: relative;
    left: 8%;
  }
}
@media only screen and (min-width:1071px) and (max-width:1080px){
  .section-food-images { height:700px; }
  .meal-image {
    width: 222px;
    height: 192px;
  }
  .steps-box {
    float: left;
    position: absolute;
    left: 10%;
  }
  .steps {
    position: relative;
    left: 35%;
    top: 8%;
    width: 51%;
  }
  .section-subscription-plans { padding-top: 40px; }
    .btn-registration {
    position: relative;
    left: 63%;
    bottom: 21px;
  }
  .form-box { left: 11.5%; }
  .footer-nav {
    position: relative;
    right: 14%;
  }
  .social-links {
    position: relative;
    left: 8%;
  }
}
@media only screen and (min-width:1061px) and (max-width:1070px){
  .section-food-images { height:700px; }
  .meal-image {
    width: 220px;
    height: 192px;
  }
  .steps-box {
    float: left;
    position: absolute;
    left: 10%;
  }
  .steps {
    position: relative;
    left: 35%;
    top: 8%;
    width: 51%;
  }
  .section-subscription-plans { padding-top: 40px; }
    .btn-registration {
    position: relative;
    left: 63%;
    bottom: 21px;
  }
  .form-box { left: 11.5%; }
  .footer-nav {
    position: relative;
    right: 14%;
  }
  .social-links {
    position: relative;
    left: 8%;
  }
}
@media only screen and (min-width:1051px) and (max-width:1060px){
  .section-food-images { height:700px; }
  .meal-image {
    width: 217px;
    height: 192px;
  }
  .steps-box {
    float: left;
    position: absolute;
    left: 10%;
  }
  .steps {
    position: relative;
    left: 35%;
    top: 8%;
    width: 51%;
  }
  .section-subscription-plans { padding-top: 40px; }
  .btn-registration {
    position: relative;
    left: 63%;
    bottom: 21px;
  }
  .form-box { left: 11.5%; }
  .footer-nav {
    position: relative;
    right: 14%;
  }
  .social-links {
    position: relative;
    left: 8%;
  }
}

@media only screen and (min-width:1031px) and (max-width:1050px){
  .main-banner h1 { left: 5% }
  .section-food-images { height:703px; }
  .meal-image {
    width: 212px;
    height: 192px;
  }
  .steps-box {
    float: left;
    position: absolute;
    left: 10%;
  }
  .steps {
    position: relative;
    left: 35%;
    top: 8%;
    width: 51%;
  }
  .section-subscription-plans { padding: 40px 20px; }
  .subscription-plan-box { margin: 30px 10px; }
  .plan-description {height: 162px; }
  .btn-registration {
    position: relative;
    left: 68%;
    bottom: 21px;
  }
  .city-box img {height: 232px;}
  .form-box { left: 11.5%; }
  .footer-nav {
  position: relative;
  right: 14%;
  }
  .social-links {
    position: relative;
    left: 8%;
  }
}
@media only screen and (min-width:1010px) and (max-width:1030px){
  .section-food-images { height:758px; }
  .images-box {
    position: relative;
    left: 2%;
  }
  .meal-image {
    width: 202px;
    height: 221px;
  }
  .steps {
    position: relative;
    width: 46%;
    float: right;
    top: -1%;
    left: -3%;
  }
  .steps-box { left: 28%; }
  .app-screen { width: 190px; }
  .section-subscription-plans { padding-top:20px; }
  .subscription-plan-box {
    width: 313px;
    margin: 10px;
  }
  .plan-description { height: 148px; }
  .btn-registration {
    left: 66%;
    bottom:35px;
  }
  .city-box { width: 23%; }
  .form-box { left: 9%; }
}

@media only screen and (min-width:1001px) and (max-width:1010px){
  .main-banner h1 {
    left: 6%;
    top: 12px;
  }
  .section-food-images { height:758px; }
  .images-box {
    position: relative;
    left: 2%;
  }
  .meal-image {
    width: 196px;
    height: 221px;
  }
  .steps {
    position: relative;
    width: 46%;
    float: right;
    top: -1%;
    left: -3%;
  }
  .steps-box { left: 28%; }
  .app-screen { width: 190px; }
  .section-subscription-plans { padding-top:20px; }
  .subscription-plan-box {
    width: 313px;
    margin: 10px;
  }
  .plan-description { height: 148px; }
  .btn-registration{
    left: 65%;
    bottom: 34px;
  }
  .form-box { left: 9%; }
}
@media only screen and (min-width:861px) and (max-width:1000px){
  .main-banner h1 { left: 6%; }
  .section-food-images { height: 1551px; }
  .food-images { float: none; }
  .meal-image {
    width: 330px;
    height: 270px;
  }
  .section-how-it-works { height:630px; }
  .steps-box {
    float: left;
    position: relative;
    left: 5%;
  }
  .app-screen {cwidth: 180px; }
  .steps {
    position: relative;
    left: 14%;
    top: 8%;
  }
  .section-subscription-plans{ padding-top:30px; }
  .subscription-plans { display: flex; }
  .subscription-plan-box {
    width: 35%;
    margin: 30px 5px;
    position: relative;
  }
  .plan-description { height: 150px; }
  .btn-registration{
    left: 62%;
    bottom: 33px;
  }
  #send-it {
    position: relative;
    left: 58%;
  }
  .form-box {
    left: 5%;
    width: 90%;
  }
  label { margin-right: 30px; }
  input[type=text],
  input[type=email],
  select,
  textarea {
    width: 60%;
  }
  #find-us { height: 40px; }
}

@media only screen and (min-width: 701px) and (max-width:860px){
  header { height: 550px; }
  .main-banner h1 {
    position: relative;
    left: 9%;
    top: 76px;
    font-size: 34px;
  }
  .section-food-images { height: 1430px; }
  .food-images { float: none; }
  .section-how-it-works { height:550px; }
  .steps-box {
    float: left;
    position: relative;
    left: 3%;
  }
  .app-screen { width: 165px; }
  .steps {
    width: 62%;
    position: relative;
    left: 8%;
    bottom: 6%;
    float: left;
  }
  .step-number {
    height: 45px;
    width: 45px;
    font-size: 17px;
  }
  .work-step p { font-size:15px; }
  .section-subscription-plans{ padding-top:30px; }
  .subscription-plans { display: block; }
  .subscription-plan-box {
    width: 80%;
    margin: 30px 0;
    position: relative;
    left: 10%;
  }
  .plan-description{ height: 146px; }
  .btn-registration{ left: 82%; }
  .city-box img { height: 226px; }
  .form-box {
    left: 5%;
    width: 90%;
  }
  #send-it {
    position: relative;
    left: 58%;
  }
  label {
    margin-right: 30px;
  }
  input[type=text],
  input[type=email],
  select,
  textarea {
    width: 60%;
  }
  #find-us { height: 40px; }
    .footer-nav {
    position: relative;
    right: 8%;
    padding-left:0;
  }
  .social-links{
    position: relative;
    left: 6%;
    padding-left:0;
  }
}

@media only screen and (min-width: 581px) and (max-width:700px){
  .main-navbar{ display: none; }
  .navbar-icon i { display: inline-block; }
  header { height: 400px; }
  .main-banner h1 {
    font-size: 32px;
    line-height: 45px;
    word-spacing: 6px;
    letter-spacing: 2px;
    top: -54px;
    left: 20px;
    width: 88%;
  }
  .section-food-images { height:1238px; }
  .food-images { float: none; }
  .meal-image {
    width:256px;
    height:221px;
  }
  .section-how-it-works { height:1000px; }
  .section-how-it-works h2 { font-size: 33px; }
  .app-screen {
    width: 154px;
    position: relative;
    left: -1%;
  }
  .steps-box { left: 38%; }
  .steps {
    width: 80%;
    left: 10%;
    top: 48%;
    padding: 2%;
    margin: 0%;
  }
  .work-step p { float: none; }
  .step-number {
    position: relative;
    left: 42%;
  }
  .work-step a {
    position: relative;
    left: 3%;
    margin-bottom: 25px;
  }
  .btn-app {
    position: relative;
    left: 23%;
  }
  .work-step {
    margin-bottom: 40px;
    position: relative;
    left: 0;
    text-align: center;
    width: 100%;
  }
  .work-step:last-of-type { margin-bottom: 50px; }
  .section-subscription-plans { padding-top: 50px; }
  .subscription-plans { display: inline; }
  .plan-description { height:147px; }
  .btn-registration {
    left: 79%;
    bottom: 37px;
  }
  .subscription-plan-box {
      width: 80%;
      margin: 11px;
      position: relative;
      left: 10%;
      top: 20px;
  }
  .cities {
    width: 100%;
    left: 21%;
  }
  .city-box img { height:173px; }
  .form-box{
    left: 5%;
    width: 90%;
  }
  input[type=text],
  input[type=email],
  select,
  textarea {
    width: 70%;
  }
  #find-us { height: 40px; }
  #send-it { left: 55%; }
  footer { height:108px; }
  .footer-navigation { padding-left:0; }
  .footer-nav {
    position: relative;
    right: 1%;
    padding-left:0;
  }
  .social-links{
    position: relative;
    left: 1%;
  }
}

@media only screen and (min-width: 481px) and (max-width:580px){
  .main-navbar{ display: none; }
  .navbar-icon i { display: inline-block; }
  header { height: 400px; }
  .main-banner h1 {
    font-size: 32px;
    line-height: 45px;
    word-spacing: 6px;
    letter-spacing: 2px;
    top: -54px;
    left: 20px;
    width: 88%;
  }
  .section-fast-and-healty h2 { font-size: 26px; }
  #bigger-paragraph {
    margin: 0 20px;
    font-size: 17px;
  }
  .service-description {
    margin: 10px;
    display: inline;
  }
  .box {
    text-align: center;
    width: 87%;
    margin-top: 50px;
  }
  .section-food-images { height: 1198px; }
  .food-images { float: none; }
  .meal-image {
    width: 203px;
    height:217px;
  }
  .section-how-it-works {
    bottom: 21px;
    height: 1060px;
  }
  .section-how-it-works h2 {
    font-size: 26px;
    margin-top: 60px;
  }
  .app-screen {
    width: 140px;
    right: 0;
  }
  .steps-box { left: 36% !important; }
  .steps {
    width: 100%;
    left: 0%;
    top: 49%;
    padding: 2%;
    margin: 0%;
  }
  .step-number {
    position: relative;
    left: 42%;
  }
  .work-step {
    margin-bottom: 40px;
    position: relative;
    left: 0;
    text-align: center;
    width: 100%;
  }
  .work-step p {
    padding-top: 10px;
    float: none;
  }
  .btn-app {
    position: relative;
    left: 18%;
  }
    .subscription-plans {
    position: relative;
    right: 1%;
    display: inline-block;

  }
  .subscription-plan-box {
    margin: 0;
    margin-bottom: 6%;
    width: 350px;
    position: relative;
    left: 16%;
  }
  .plan-description {
    height:148px;
  }
  .section-subscription-plans {
    bottom: 39px;
    padding-top:20px;
  }
  .section-subscription-plans h2 { font-size: 26px; }
  .btn-registration {
    left: 68%;
    bottom: 40px;
     }
  .section-cities{ padding:20px 10px; }
  .cities {
    left: 10%;
    display: inline-block;
  }
  .city-box {
    width: 80%;
    position: relative;
    left: 10%;
  }

  .city-box img { height:275px; }
  .form-box{
    width: 90%;
    left: 5%;
    top: 10%;
  }
  input[type=text],
  input[type=email],
  select,
  textarea {
    width: 65%;
    position: relative;
    left: 5%;
  }
  #find-us { height: 40px; }
  #send-it { left: 50% }
  footer { height: 110px; }
  .footer-navigation{ padding-left:0; }
  .footer-nav {
    padding-left: 0;
    text-align: center;
  }
  .footer-nav {
    position: relative;
    right: 0;
  }
  .social-links{
    position: relative;
    left: 0;
  }
}

@media only screen and (max-width: 480px){
  .main-navbar{ display: none; }
  .navbar-icon i { display: inline-block; }
  #bigger-paragraph { margin-bottom: 40px; }
  .service-description { display: inline; }
  body { margin:0;}
  header { height: 500px; }
  .main-banner h1 {
    font-size: 28px;
    line-height: 45px;
    word-spacing: 6px;
    letter-spacing: 2px;
    top: -54px;
    left: 20px;
    width: 88%;
  }

    /*-----Food Service Section-----*/
  .section-fast-and-healty h2 { font-size: 26px; }
  #bigger-paragraph {
    margin: 0 20px;
    font-size: 17px;
  }
  .service-description {
    margin: 10px;
    display: inline;
  }
  .box {
    text-align: center;
    width: 87%;
    margin-top: 50px;
  }
  /*-----Images Section-----*/
  .section-food-images {
    height: 963px;
    bottom: 20px;
    padding: 20px 0 0;
  }
  .section-food-images h2 { font-size: 26px; }
  .section-food-images li { margin: 10px; }
  .food-images {
    padding:0;
    position: relative;
    left: 0;
  }
  #last-item { margin:0; }
  #first-item { margin:0; }
  .meal-image {
    width: 100%;
    height: 189px;
    margin: 0;
  }
  /*-----How It Works Section-----*/
  .section-how-it-works {
    bottom: 21px;
    height: 975px;
  }
  .section-how-it-works h2 {
    font-size: 26px;
    margin-top: 60px;
  }
  .app-screen {
    width: 140px;
    right: 0;
  }
  .steps-box { left: 31% !important; }
  .steps {
    width: 100%;
    left: -2%;
    top: 6%;
  }
  .step-number {
    position: relative;
    left: 42%;
  }
  .work-step {
    margin-bottom: 40px;
    position: relative;
    left: 0;
    text-align: center;
    width: 100%;
  }
  .work-step p {
    padding-top: 10px;
    float: none;
  }
  .btn-app {
    position: relative;
    left: 18%;
  }
  /*------Subscription Plans------*/
  .section-subscription-plans {
    position: relative;
    bottom: 21px;
    margin: 0px;
    padding: 30px 20px;
  }
  .section-subscription-plans h2 { font-size: 26px; }
  .subscription-plan-box {
    width: 100%;
    margin: 20px 0;
    left: 0px;
  }
  .subscription-plans {
    display: block;
    margin-top: 50px;
  }
  .plan-meal { padding: 10px 10px 0; }
  .plan-description {
    height: 144px;
    position: relative;
    bottom: 4px;
  }
  .plan-description ul { padding: 5px 0; }

  .btn-blue-full {
    border-radius: 7px;
    padding: 5px;
  }
  .btn-registration {
    left: 75%;
    bottom: 50px
  }
  /*-------Cities-------*/
  .section-cities {
    position: relative;
    bottom: 22px;
    height: 1780px;
    padding: 20px 10px;
  }
  .cities {
    position: absolute;
    display: inline-block;
    top: 121px;
    margin: 20px 10px;
    left: 15%;
    width: 328px;
  }
  .city-box {
    margin-bottom: 30px;
    width: fit-content;
  }
  .city-box img {
    width: 320px;
    height: 254px;
  }
  .city-info{ padding: 0 10px; }
  .section-cities h2 {
    position: absolute;
    top: 9px;
    left: 4%;
    font-size: 26px;
  }

  /*-------Form Section-------*/
  .section-form {
    height: 760px;
    padding: 10px;
  }
  .form-box {
    top: 80px;
    left: 2.5%;
    width: 95%;
    padding: 20px 10px;
  }
  .form-box h2 {
    font-weight: lighter;
    font-size: 28px;
  }
  .form-input {
    padding: 0;
    margin: 20px 10px;
  }
  label {
    width: 50%;
    font-size: 16px;
    margin-right: 10px;
  }
  input[type=text],
  input[type=email],
  select,
  textarea {
    width: 69%;
    position: relative;
    left: 16px;
    margin-right: 10px;
  }
  #find-us {
    height:40px;
    width: 65%;
    left: 1%;
  }
  #msg { margin-right: 10px; }
  #send-it { left: 59%; }

  /*-------Footer-------*/
  footer {
    bottom: 60px;
    height: 106px;
  }
  .footer-navigation { padding-left: 0; }
  .footer-navigation ul { padding: 0; }
  .footer-navigation li {
    padding: 5px;
    font-size: 16px;
  }
  .footer-navigation a {
    color:#f1c40f;
    text-decoration: none;
  }
  .social-links i {
    font-size: 24px;
    padding: 3px 5px;
  }
  .social-links{
    position: relative;
    top: 0px;
    right: 10px;
  }
  footer p { margin: 25px 0 5px; }
}

@media screen and (max-width: 420px) {
  body { width: fit-content; }
  .main-navbar{ display: none; }
  .navbar-icon i { display: inline-block; }
  .main-banner h1 { left: 20px; }
  .service-description { display: inline; }
  .box {
    width: 100%;
    margin: 10px;
    position: relative;
    left: -3%;
  }
  .section-how-it-works {
    height: 1080px;
    bottom: 25px;
  }
  .section-food-images {
    height: 970px;
    padding: 40px 10px;
  }
  .food-images {
    padding: 0;
    margin: 5px;
  }
  .meal-image {
    width: 100%;
    height: 173px;
    margin: 0;
  }
  .section-how-it-works h2 { font-size: 33px; }
  .steps-box { left: 31%; }
  .steps {
    width: 100%;
    left: 0%;
    top: 51%;
    padding: 2%;
    margin: 0%;
  }
  .work-step p { float: none; }
  .step-number {
    position: relative;
    left: 42%;
  }
  .work-step a {
    position: relative;
    left: 3%;
  }
  .btn-app {
    position: relative;
    left: 18%;
  }
  .work-step {
    margin-bottom: 40px;
    position: relative;
    left: 0;
    text-align: center;
    width: 100%;
  }
  .subscription-plans {
    position: relative;
    right: 1%;
  }
  .subscription-plan-box {
    margin: 0;
    margin-bottom: 6%;
    width: 100%;
  }
  .section-subscription-plans {
    bottom: 39px;
    padding: 76px 20px 20px;
  }
  .btn-registration { left: 209px; }
  .section-cities { bottom: 40px; }
  .section-cities h2 {
    font-size: 26px;
    padding: 20px 10px 5px;
    position: relative;
    top: 0;
    left: 0;
  }
  .cities { left: 5%; }
  .city-box img { width: 310px; }
  .section-form { bottom: 57px; }
  .form-box {
    left: 2.5%;
    top: 5%;
  }
  label { width: 50%; }
  #find-us {
    height:40px;
    width: 100%;
  }
  input[type=text],
  input[type=email],
  select,
  textarea {
    width: 100%;
  }
  #send-it { left: 50%; }
  .footer-navigation li {
    font-size: 13px;
    text-align: center;
    left: -1%;
  }
 .social-links i {font-size: 16px;}
  footer p { margin-top:0; }
}
